{% extends 'core/base_core.html' %}

{% block content %}
<h2>Companies</h2>
<style>
    table, th, td {
      border-style:solid;
      border-color: #00ffff;
    }
</style>
<table>
    <tr>
        <th>Company name</th>
        <th>Founding year</th>
        <th>Logo</th>
        <th>Description</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Linkedin</th>
        <th>Instagram</th>
        <th>Web_site</th>
        <th>Twitter</th>
        <th>Staff</th>
        <th>Country</th>
        <th>City</th>
        <th>Street</th>
        <th>House number</th>
        <th>Office number</th>
    </tr>
    <tr>
        <td>{{ company.name }}</td>
        <td>{{ company.founding_year }}</td>
        <td>{{ company.logo }}</td>
        <td>{{ company.description }}</td>
        <td>{{ company.email }}</td>
        <td>{{ company.phone }}</td>
        <td>{{ company.linkedin }}</td>
        <td>{{ company.instagram }}</td>
        <td>{{ company.web_site }}</td>
        <td>{{ company.twitter }}</td>
        <td>{{ company.min_staff }} - {{ company.max_staff }}</td>
        <td>{{ company.country }}</td>
        <td>{{ company.city }}</td>
        <td>{{ company.street }}</td>
        <td>{{ company.house_number }}</td>
        <td>{{ company.office_number }}</td>
    </tr>
</table>

<a href="{% url 'add_review_company_core'  company.company_id %}">Add review</a>

<h2>Review</h2>
<style>
    table, th, td {
      border-style:solid;
      border-color: #00ffff;
    }
</style>
<table>
    <tr>
        <th>User name</th>
        <th>Review</th>
        <th>Likes</th>
        <th>Dislikes</th>
    </tr>
        {% for f in feedback %}
    <tr>
        <td>{{ f.user}}</a></td>
        <td>{{ f.review }}</td>
        <td>{{ f.likes }}</td>
        <td>{{ f.dislikes }}</td>
        {% endfor %}
    </tr>
</table>
{% endblock content %}