{% extends 'core/base_core.html' %}

{% block content %}
<h1>Vacancies</h1>
<style>
    table, th, td {
      border-style:solid;
      border-color: #96D4D4;
    }
</style>
<table>
    <tr>
        <th>job title</th>
        <th>company name</th>
        <th>skill level</th>
        <th>minimal experience</th>
        <th>salary</th>
    </tr>
        {% for v in vacancies %}
    <tr>
        <td><a href="{% url 'get_vacancy_core' v.vacancy_id %}">{{ v.title }}</a></td>
        <td>{{ v.company }}</td>
        <td>{{ v.competence}}</td>
        <td>{{ v.experience }}</td>
        <td>{{ v.min_salary }} - {{ v.max_salary }}</td>
        {% endfor %}
    </tr>
</table>
{% endblock content %}