<!DOCTYPE html>
<html>
    <head>
        <h1>Job Board</h1>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        {% block mainmanu %}
        <nav>
        <a href='{% url "index" %}'>Job Board</a>
        <a href='{% url "companies_core" %}'>Companies</a>
        <a href='{% url "add_company_core" %}'>Add Company</a>
        <a href='{% url "profile_core" %}'>Users</a>
        <a href='{% url "add_profile_core" %}'>Add Users</a>
        {% if user.is_aunthenticate %}
            <li><a href='#'>Profile</a> | <a href='#'>Logout</a></li>
        {% else %}
            <li><a href='{% url "registration" %}'>Sign up</a> | <a href='#'>Sign in</a></li>
        {% endif %}
        {% endblock mainmanu %}

        {% block content %} 
        {% endblock content %}
    </body>
</html>