{% extends 'core/base_core.html' %}

{% block content %}
<h2>Vacancies</h2>
    <p>job title: {{ vacancy.title }}</p>
    <p>description: {{ vacancy.description }}</p>
    <p>
        {% for country in countries %}
            --{{ country.country}}
        {% endfor %}
    </p>
    <p>company name: {{ vacancy.employee.company.name }}</p>
    <p>work format: {{ vacancy.work_format.work_format }}</p>
    <p>skill level: {{ vacancy.competence.competence}}</p>
    <p>employment formats: {{ vacancy.employment_format.employment_format }}</p>
    <p>minimal experience: "ADD EXP"</p>
    <p>salary: {{ vacancy.salary_min }} - {{ vacancy.salary_max }}</p>
    <p>countries</p>
    <p>
        {% for tag in tags %}
            #{{ tag.tag}}
        {% endfor %}
    </p>

<a href="{% url 'add_vacancy_apply_core'  vacancy.id %}">Add apply</a>
<h2>Apply</h2>
<style>
    table, th, td {
      border-style:solid;
      border-color: #050707;
    }
</style>
<table>
    <tr>
        <th>User name</th>
        <th>Accompanying text</th>
        <th>Resume</th>
        <th>Phone</th>
        <th>Feedback status</th>
    </tr>
        {% for f in feedback %}
    <tr>
        <td>{{ f.user}}</a></td>
        <td>{{ f.accompanying_text }}</td>
        <td>{{ f.resume }}</td>
        <td>{{ f.user_phone }}</td>
        <td>{{ f.status }}</td>
        {% endfor %}
    </tr>
</table>
{% endblock content %}