{% extends 'core/base_core.html' %}

{% block content %}
<h1>Vacancies</h1>
<form method="GET" action=" {% url 'index' %} ">
    {% csrf_token %}
    {{ form }}
    <input type="submit" id="submit">
</form>
<style>
    table, th, td {
      border-style:solid;
      border-color: #96D4D4;
    }
</style>
<table>
    <tr>
        <th>job title</th>
        <th>company name</th>
        <th>skill level</th>
        <th>minimal experience</th>
        <th>salary</th>
    </tr>
        {% for v in vacancies %}
    <tr>
        <td><a href="{% url 'get_vacancy_core' v.id %}">{{ v.title }}</a></td>
        <td>{{ v.employee__company__name }}</td>
        <td>{{ v.competence__competence}}</td>
        <td> "add exp" + year</td>
        <td>{{ v.salary_min }} - {{ v.salary_max }}</td>
        {% endfor %}
    </tr>
</table>
{% endblock content %}