{% extends 'core/base_core.html' %}

{% block content %}
<h1>Users</h1>
<style>
    table, th, td {
      border-style:solid;
      border-color: #000000;
    }
</style>
<table>
    <tr>
        <th>photo</th>
        <th>name</th>
        <th>surname</th>
        <th>age</th>
        <th>experience description</th>
        <th>resume</th>
        <th>work experience</th>
        <th>status</th>
        <th>design format</th>
        <th>competence</th>
        <th>work_format</th>
        <th>salary</th>
    </tr>
    {% for u in users %}
    <tr>
        <td>
            <img src="{{ u.photo.url }}">
        </td>
        <td>{{ u.name }}</td>
        <td>{{ u.surname }}</td>
        <td>{{ u.age }}</td>
        <td>{{ u.experience_description }}</td>
        <td>
            <a href= "{{ u.resume.url }}"> Resume download </a>
        </td>
        <td>{{ u.work_experience }}</td>
        <td>{{ u.status.status }}</td>
        <td>{{ u.employment_formats.employment_format }}</td>
        <td>{{ u.competence.competence }}</td>
        <td>{{ u.work_format.work_format }}</td>
        <td>{{ u.salary_min }} - {{ u.salary_max }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
